<img ng-click="photo.url = photo.field_image_1; photo.grand = true" ng-src="{{photo.url}}">
<div class="titreImage">
    <a href="http://imagora-photo.fr/node/{{photo.nid}}" title="Voir la fiche de l'image">{{photo.title}}</a>
</div>
<div class="auteurImage">{{photo.name}}</div>
<div ng-show='photo.field_vote != "0/5"' class="noteImage">
    Note : {{photo.field_vote}}
</div>
<div ng-show="photo.comment_count != '0'" class="nbComment">
    {{photo.comment_count.replace("0", "")}} commentaire(s)
</div>
<a class="btnClose" href="" ng-show="photo.grand" ng-click="photo.url = photo.field_image;
                           photo.grand = false">
    <img src="img/bouton_fermer.png" alt="Fermer">
</a>